* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#column {
 
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

#row{

  height: 400px;
  width: 100%;
  background-color: black;
  position:absolute;
  bottom:0;
}

#row:after {

  width: 100%;
  content: "";
  display: table;
  clear: both;}




  #serviceTitle{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




#serviceListElement{
  text-align: center;
  list-style: none;
  font-size: 20px;
  color: white;
}

#link{
  text-decoration: none;
  color: white;
}


