body{

/*  https://stackoverflow.com/questions/12882129/how-to-remove-space-above-the-div-tag  */
  
/*

    padding:0; 
    margin:0;
    margin-top: 0;

*/
 padding: 0;
 margin: 0;



}



.topnav{
    height: 75px;
    background-color: blue;


    padding-top: 0.1%;
    padding-right: 0%;
    padding-bottom: 0.1%;
    padding-left: 0%;
    
    
}

.topnav a {
  float:right;
  display: block;
  
  
  padding: 14px 16px;
  text-decoration: none;

  
  padding-bottom: 0;
  font-size: 30px;

  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  

 

  color: white;
}

/* Change the color of links on hover */
.topnav a:hover {

  
  color: rgb(239, 231, 231);
  height: 50%;
}



/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#websiteLogo{
    float:left;
    display: block;
    
    
    padding: 14px 16px;
    text-decoration: none;
  
    
    padding-bottom: 0;
    font-size: 30px;
  
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
 
  

}




#listItem{

    
  

    
    
}



li{
    list-style: none;
   
}

p{
    padding-top: 0;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;

}
